<!DOCTYPE html>

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrapグリッドcssのみ -->
    <link rel="stylesheet" href="styles/bootstrap-grid.min.css">
    <!-- bootstrapグリッドcssのみ -->
    <!-- リセットcss -->
    <link rel="stylesheet" href="styles/html5_doctor_reset.css">
    <!-- リセットcss -->
    <!-- 初期設定css -->
    <link rel="stylesheet" href="styles/stylesheet.min.css">
    <!-- 初期設定css -->
    <link rel="stylesheet" href="styles/pc.min.css">
    <link rel="stylesheet" href="styles/tab.min.css">
    <link rel="stylesheet" href="styles/sp.min.css">
    <link rel="stylesheet" href="styles/bg.min.css">
    <title>Who Is Hiroki Itabashi</title>
    <link rel="shortcut icon" href="images/rec-engineer.jpg">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="font">
    <!-- タイピングアニメーションCDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-typed-js@0.1.2/dist/vue-typed-js.css">
    <script src="https://cdn.jsdelivr.net/npm/vue-typed-js@0.1.2/dist/vue-typed-js.browser.js"></script>
    <!-- タイピングアニメーションCDN -->
</head>



<body>


    <header-nav>
        <div id="header-nav-area" class="container-fluid">
            <div id="app-1" class="header-link-btns pc"> 
                <header-btn-content v-for="btn in btns" v-key="btn.id">
                    <div class="header-link-btn" v-bind:class="btn.class">
                        <p><b>{{ btn.name }}</b></p>
                    </div>
                </header-btn-content>
            </div>
            <div class="header-menu-btn tab sp">
                <span class=""></span>
            </div>
        </div>
    </header-nav>


    <main>
        <div id="main-area" class="container-fluid">
            <div id="hero-outer" class="main-content-outer">
                <div id="hero-inner" class="main-content-inner">
                    <img class="pc" src="images/hiroki-6.jpg" alt="">
                    <img class="tab" src="images/hiroki-6.jpg" alt="">
                    <img class="sp" src="images/hiroki-7.jpg" alt="">
                    <div class="greeting-text">
                        <div id="app-2">
                            <vue-typed-js :strings="['', '', '初めまして！！', '板橋弘来と申します。', '', '現在フロントエンドエンジニアを目指して日々学習中の21歳、大学三年生です！', '今回はポートフォリオサイトを作成してみました。', 'ゆっくり見ていってね。', '' , '花粉症辛いっすね...']" :type-speed="50">
                                <h1 class="typing"></h1>
                            </vue-typed-js>
                        </div>
                    </div>
                </div>
            </div>
            <div id="works-outer" class="main-content-outer container-fluid">
                <div id="works-inner" class="main-content-inner container">
                    <h2 class="content-title">WORKS</h2>
                    <div id="app-3" class="work-boxs row">
                        <works-content class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" v-for="work in works" v-key="work.id">
                            <div class="work-box-outer">
                                <a class="work-box-inner" v-bind:href="work.link">
                                    <div class="image-box">
                                        <img class="image" v-bind:src="work.image" width="750" height="400" alt="">
                                    </div>
                                    <div class="title-box">
                                        <h5 class="title">{{ work.title }}</h5>
                                    </div>
                                    <div class="text-box">
                                        <p class="text">{{ work.text }}</p>
                                    </div>
                                </a>
                            </div>
                        </works-content>
                    </div>
                </div>
            </div>
            <div id="biography-outer" class="main-content-outer container-fluid">
                <div id="biography-inner" class="main-content-inner container">
                    <h2 class="content-title">BIOGRAPHY</h2>
                    <div class="biography-contents">
                        <div id="app-4">
                            <biography-content v-for="period in biography" v-key="period.id">
                                <div class="biography-period">
                                    <div class="row">
                                        <div class="col-1 col-lg-2"></div>
                                        <div class="col-2 col-lg-1">
                                            <div class="v-line">
                                                <div class="image-box">
                                                    <img class="image" v-bind:src="period.image" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-6 col-lg-5">
                                            <div class="title-box">
                                                <h3 class="title">{{ period.title }}</h3>
                                            </div>
                                            <div class="age-box">
                                                <h4 class="age">{{ period.age }}</h4>
                                            </div>
                                            <div class="text-box">
                                                <p class="text">{{ period.text1 }}<br>{{ period.text2 }}<br>{{ period.text3 }}</p>
                                            </div>
                                        </div>
                                        <div class="col-1 col-lg-2"></div>
                                    </div>
                                </div>
                            </biography-content>
                        </div>
                    </div>
                </div>
            </div>
            <div id="blog-outer" class="main-content-outer container-fluid">
                <div id="blog-inner" class="main-content-inner container">
                    <h2 class="content-title">BLOG</h2>
                    <div id="app-5" class="blog-boxs row">
                        <blog-content class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" v-for="blog in blogs" v-key="blog.id">
                            <div class="blog-box-outer">
                                <div class="blog-box-inner">
                                    <div class="image-box">
                                        <img class="image" v-bind:src="blog.image">
                                    </div>
                                    <div class="title-box">
                                        <h5 class="title">{{ blog.title }}</h5>
                                    </div>
                                    <div class="text-box">
                                        <p class="text">{{ blog.text }}</p>
                                    </div>
                                </div>
                            </div>
                        </blog-content>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <div id="footer-area" class="container-fluid">
            <div class="introduction-area">
                <div class="container">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8"></div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <p>Copyright © 2021 Hiroki Itabashi Inc. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="scripts/app-1.js"></script>
    <script src="scripts/app-2.js"></script>
    <script src="scripts/app-3.js"></script>
    <script src="scripts/app-4.js"></script>
    <script src="scripts/app-5.js"></script>


</body>

</html>