@media screen and (min-width: 992px) {
  html {
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
  }
  #loading {
    background-color: #28505D;
    z-index: 100;
    width: 100%;
    height: 100vh;
  }
  #loading .planePath {
    stroke: #D9DADA;
    stroke-width: .1%;
    stroke-width: .5%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
  }
  #loading .fil1 {
    fill: #D9DADA;
  }
  #loading .fil2 {
    fill: #C5C6C6;
  }
  #loading .fil4 {
    fill: #9D9E9E;
  }
  #loading .fil3 {
    fill: #AEAFB0;
  }
  #wrap {
    display: none;
    background-color: #fff;
    color: #000000;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }
  #wrap h1 {
    font-size: 4rem;
  }
  #wrap h2 {
    font-size: 3.5rem;
  }
  #wrap h3 {
    font-size: 3rem;
  }
  #wrap h4 {
    font-size: 2.5rem;
  }
  #wrap h5 {
    font-size: 1.8rem;
  }
  #wrap h6 {
    font-size: 1.5rem;
  }
  #wrap p {
    font-size: 1.5rem;
  }
  #wrap a {
    text-decoration: none;
    color: black;
  }
  #wrap a, #wrap b, #wrap i, #wrap span {
    font-size: 1em;
  }
  #wrap .container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #wrap .inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0;
  }
  #wrap .inner .blog-paper {
    padding: 100px;
    background-color: #f4f4f4;
    font-family: "Sawarabi Gothic";
    box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
  }
  #wrap .inner .blog-paper .blog-top, #wrap .inner .blog-paper .blog-title {
    text-align: center;
    line-height: 2em;
  }
  #wrap .inner .blog-paper .blog-date {
    text-align: right;
    line-height: 2em;
  }
  #wrap .inner .blog-paper .blog-text {
    line-height: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 9px;
    font-family: 'Noto Sans JP', sans-serif;
  }
  #loading {
    background-color: #28505D;
    z-index: 100;
    width: 100%;
    height: 100vh;
  }
  #loading .planePath {
    stroke: #D9DADA;
    stroke-width: .1%;
    stroke-width: .5%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
  }
  #loading .fil1 {
    fill: #D9DADA;
  }
  #loading .fil2 {
    fill: #C5C6C6;
  }
  #loading .fil4 {
    fill: #9D9E9E;
  }
  #loading .fil3 {
    fill: #AEAFB0;
  }
  #wrap {
    display: none;
    background-color: #fff;
    color: #000000;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }
  #wrap h1 {
    font-size: 4rem;
  }
  #wrap h2 {
    font-size: 3.5rem;
  }
  #wrap h3 {
    font-size: 3rem;
  }
  #wrap h4 {
    font-size: 2.5rem;
  }
  #wrap h5 {
    font-size: 1.8rem;
  }
  #wrap h6 {
    font-size: 1.5rem;
  }
  #wrap p {
    font-size: 1.5rem;
  }
  #wrap a {
    text-decoration: none;
    color: black;
  }
  #wrap a, #wrap b, #wrap i, #wrap span {
    font-size: 1em;
  }
  #wrap .container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #wrap .inner {
    padding: 50px;
  }
  #wrap .inner .blog-paper {
    padding: 50px;
    background-color: #f4f4f4;
    font-family: "Sawarabi Gothic";
    box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
  }
  #wrap .inner .blog-paper .blog-top, #wrap .inner .blog-paper .blog-title {
    text-align: center;
    line-height: 2em;
  }
  #wrap .inner .blog-paper .blog-date {
    text-align: right;
    line-height: 2em;
  }
  #wrap .inner .blog-paper .blog-text {
    line-height: 2em;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
    font-family: 'Noto Sans JP', sans-serif;
  }
  #loading {
    background-color: #28505D;
    z-index: 100;
    width: 100%;
    height: 100vh;
  }
  #loading .planePath {
    stroke: #D9DADA;
    stroke-width: .1%;
    stroke-width: .5%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
  }
  #loading .fil1 {
    fill: #D9DADA;
  }
  #loading .fil2 {
    fill: #C5C6C6;
  }
  #loading .fil4 {
    fill: #9D9E9E;
  }
  #loading .fil3 {
    fill: #AEAFB0;
  }
  #wrap {
    display: none;
    background-color: #fff;
    color: #000000;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }
  #wrap h1 {
    font-size: 4rem;
  }
  #wrap h2 {
    font-size: 3.5rem;
  }
  #wrap h3 {
    font-size: 3rem;
  }
  #wrap h4 {
    font-size: 2.5rem;
  }
  #wrap h5 {
    font-size: 1.8rem;
  }
  #wrap h6 {
    font-size: 1.5rem;
  }
  #wrap p {
    font-size: 1.5rem;
  }
  #wrap a {
    text-decoration: none;
    color: black;
  }
  #wrap a, #wrap b, #wrap i, #wrap span {
    font-size: 1em;
  }
  #wrap .container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #wrap .inner {
    padding: 20px;
  }
  #wrap .inner .blog-paper {
    padding: 20px;
    background-color: #f4f4f4;
    font-family: "Sawarabi Gothic";
    box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
  }
  #wrap .inner .blog-paper .blog-top, #wrap .inner .blog-paper .blog-title {
    text-align: center;
    line-height: 2em;
  }
  #wrap .inner .blog-paper .blog-date {
    text-align: right;
    line-height: 2em;
  }
  #wrap .inner .blog-paper .blog-text {
    line-height: 2em;
  }
}
