$black: #000000;
$offblack: #222222;
$gray: #333333;
$lightgray: #d0d0d0;
$offwhite: #f4f4f4;
$white: #fff;
$lightblue: #00b5cc;
$green: #008000;

@media screen and (min-width:1024px) {

    html {
        font-size: 10px;
        font-family: 'Noto Sans JP', sans-serif;
        background-color: $white;
        color: $black;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    h5 {
        font-size: 2rem;
    }
    h6 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a,b,i,span {
        font-size: 1em;
    }

    .container-fluid {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 1000px;
    }

    header-nav {
        #header-nav-area {
            .header-link-btns {
                .header-link-btn {
                    a {

                    }
                }
            }
        }
    }

    main {
        #main-area {
            .main-content-outer {
                .main-content-inner {

                }
            }
        }
    }
    #slider-outer {
        #slider-inner {
            
        }
    }
    #works-outer {
        #works-inner {
            
        }
    }
    #biography-outer {
        #biography-inner {
            
        }
    }
    #blog-outer {
        #blog-inner {
            .blog-boxs {
                .blog-box-outer {
                    .blog-box-inner {
                        .title {
                            
                        }
                        .text {
                            
                        }
                        .image {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
    
    
    .sp {
        display: none;
    }
    .tab {
        display: none;
    }
}

