$black: #000000;
$offblack: #202020;
$gray: #333333;
$lightgray: #d0d0d0;
$offwhite: #f4f4f4;
$white: #fff;
$lightblue: #00b5cc;
$green: #008000;

@media screen and (min-width:1024px) {

    html {
        font-size: 10px;
        font-family: 'Noto Sans JP', sans-serif;
        background-color: $white;
        color: $black;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    h5 {
        font-size: 2rem;
    }
    h6 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a,b,i,span {
        font-size: 1em;
    }

    .container-fluid {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 1000px;
        min-width: 1000px;
    }

    header-nav {
        #header-nav-area {
            background-color: yellow;
            width: 100%;
            height: 100px;
            .header-link-btns {
                text-align: center;
                .header-link-btn {
                    display: inline-block;
                    p {
                        line-height: 100px;
                        padding: 0 20px;
                        margin: 0 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    main {
        #main-area {
            .main-content-outer {
                .main-content-inner {
                    
                }
            }
        }
    }
    #hero-outer {
        #hero-inner {
            width: 100%;
            height: 540px;
            background-image: url('../images/hiroki-6.jpg');
            .typing {
            }
            .slide-number-1 {}
            .slide-number-2 {}
            .slide-number-3 {}
            .slide-number-4 {}
        }
    }
    #works-outer {
        #works-inner {
            
        }
    }
    #biography-outer {
        #biography-inner {
            
        }
    }
    #blog-outer {
        #blog-inner {
            .blog-boxs {
                .blog-box-outer {
                    .blog-box-inner {
                        .title {
                            
                        }
                        .text {
                            
                        }
                        .image {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
    
    
    .sp {
        display: none;
    }
    .tab {
        display: none;
    }
}

