$black: #000000;
$offblack: #202020;
$gray: #333333;
$lightgray: #d0d0d0;
$offwhite: #f4f4f4;
$white: #fff;
$lightblue: #00b5cc;
$green: #008000;


@media screen and (max-width:767px) {

    html {
        font-size: 8px;
        font-family: 'Noto Sans JP', sans-serif;
        background-color: $white;
        color: $black;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    h5 {
        font-size: 1.8rem;
    }
    h6 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a,b,i,span {
        font-size: 1em;
    }
    
    .container-fluid {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .container {
        width: auto;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }

    header-nav {
        #header-nav-area {
            z-index: 10;
            position: fixed;
            background-color: rgba(255, 255, 255, 0.7);
            width: 100%;
            height: 80px;
            box-shadow:
                0 1.9px 2.5px rgba(0, 0, 0, 0.057),
                0 5px 6.1px rgba(0, 0, 0, 0.076),
                0 10.1px 11.4px rgba(0, 0, 0, 0.086),
                0 19.2px 19.8px rgba(0, 0, 0, 0.092),
                0 38.4px 34.8px rgba(0, 0, 0, 0.1),
                0 101px 74px rgba(0, 0, 0, 0.13);
            .header-link-btns {
                text-align: center;
                .header-link-btn {
                    display: inline-block;
                    p {
                        line-height: 80px;
                        padding: 0 20px;
                        margin: 0 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    main {
        #main-area {
            .main-content-outer {
                .main-content-inner {
                    .content-title {
                        text-align: center;
                        padding: 100px 0 50px 0;
                    }
                }
            }
        }
    }
    #hero-outer {
        #hero-inner {
            position: relative;
            img {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            .greeting-text {
                color: black;
                background-color: rgba(255,255,255,0.5);
                padding: 10px 20px;
                border-radius: 8px;
                position: absolute;
                bottom: 150px;
                margin: 0 auto;
                .typing {

                }
            }
            .slide-number-1 {}
            .slide-number-2 {}
            .slide-number-3 {}
            .slide-number-4 {}
        }
    }
    #works-outer {
        #works-inner {
            .work-boxs {
                margin: 0;
                .work-box-outer {
                    background-color: $offwhite;
                    width: 100%;
                    padding: 20px 0;
                    margin: 15px 0;
                    border: solid 1px $lightgray;
                    border-radius: 8px;
                    box-shadow:
                            0 1.9px 2.5px rgba(0, 0, 0, 0.057),
                            0 5px 6.1px rgba(0, 0, 0, 0.076),
                            0 10.1px 11.4px rgba(0, 0, 0, 0.086),
                            0 19.2px 19.8px rgba(0, 0, 0, 0.092),
                            0 38.4px 34.8px rgba(0, 0, 0, 0.1),
                            0 101px 74px rgba(0, 0, 0, 0.13);
                    .work-box-inner {
                        display: block;
                        width: 90%;
                        margin: 0 auto;
                        .image-box {
                            width: 100%;
                            .image {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .title-box {
                            .title {
                                line-height: 1.5em;
                            }
                        }
                        .text-box {
                            .text {
                                line-height: 1.5em;
                            }
                        }
                    }
                }
            }
        }
    }
    #biography-outer {
        height: auto;
        #biography-inner {
            .biography-contents {
                overflow: scroll;
                height: 350px;
                width: 100%;
                background-color: $offwhite;
                position: relative;
                border: solid 1px $lightgray;
                border-radius: 8px;
                box-shadow:
                    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
                    0 5px 6.1px rgba(0, 0, 0, 0.076),
                    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
                    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
                    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
                    0 101px 74px rgba(0, 0, 0, 0.13);
            }
            .biography-period {
                height: auto;
                margin: 0;
                .v-line {
                    border-right: solid 6px $lightgray;
                    height: auto;
                    z-index: -1;
                }
                .h-line {
                    border-bottom: solid 6px $lightgray;
                }
                .image-box {
                    .image {
                        position: relative;
                        left: 0;
                        width: 200%;
                        border: solid 3px $lightgray;
                        border-radius: 50%;
                        box-shadow:
                            0 1.9px 2.5px rgba(0, 0, 0, 0.057),
                            0 5px 6.1px rgba(0, 0, 0, 0.076),
                            0 10.1px 11.4px rgba(0, 0, 0, 0.086),
                            0 19.2px 19.8px rgba(0, 0, 0, 0.092),
                            0 38.4px 34.8px rgba(0, 0, 0, 0.1),
                            0 101px 74px rgba(0, 0, 0, 0.13);
                        margin: 40px 0;
                    }
                }
                .title-box {
                    .title {
                        
                    }
                }
                .age-box {
                    .age {
                        
                    }
                }
                .text-box {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    margin: 0 auto;
                    .text {
                        width: 100%;
                        height: auto;
                        position: absolute;
                        transform: translate(-50% ,-50%);
                        top: 50%;
                        left: 50%;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }
    #blog-outer {
        #blog-inner {
            .blog-boxs {
                margin: 0;
                .blog-box-outer {
                    background-color: $offwhite;
                    width: 100%;
                    padding: 20px 0;
                    margin: 15px 0;
                    border: solid 1px $lightgray;
                    border-radius: 8px;
                    box-shadow:
                            0 1.9px 2.5px rgba(0, 0, 0, 0.057),
                            0 5px 6.1px rgba(0, 0, 0, 0.076),
                            0 10.1px 11.4px rgba(0, 0, 0, 0.086),
                            0 19.2px 19.8px rgba(0, 0, 0, 0.092),
                            0 38.4px 34.8px rgba(0, 0, 0, 0.1),
                            0 101px 74px rgba(0, 0, 0, 0.13);
                    .blog-box-inner {
                        display: block;
                        width: 90%;
                        margin: 0 auto;
                        .image-box {
                            width: 100%;
                            .image {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .title-box {
                            .title {
                                line-height: 1.5em;
                            }
                        }
                        .text-box {
                            .text {
                                line-height: 1.5em;
                            }
                        }
                    }
                }
            }
        }
    }

    #footer-area {
        .introduction-area {

        }
        .copyright-area {
            height: 50px;
            background-color: $gray;
            color: white;
            p {
                line-height: 50px;
                text-align: center;
                font-size: 0.8em;
            }
        }
    }
    
    
    .pc {
        display: none;
    }
    .tab {
        display: none;
    }

}