  html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  //フェードインアニメーション

  .fadein {
    opacity: 0;
    transform : translate(0, 50px);
    transition : all 1500ms;
  }
  
  .fadein.scrollin{
    opacity: 1;
    transform: translate(0, 0);
  }

  //フェードインアニメーション