  html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .slider-outer{
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    margin: 0 auto 20px;
  }
  .slider-inner{
    position: absolute;
    width: 100%;
    height: 800px;
  }
  .slide-img {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  .fade-enter-active, .fade-leave-active {
    transition: all 3s ease;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }